# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\demo projects\docker-jenkins-integration-sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
